<h3>Listado de usuarios</h3>

<div *ngIf="usuarios.length > 0; else elseBlock">
    <table class="table table-striped-columns mt-3">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre completo</th>
                <th scope="col">Login</th>
                <th scope="col">Correo Electrónico</th>
                <th scope="col">Teléfono celular</th>
                <th scope="col">Dirección</th>
                <th scope="col">Estado</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            
            @for (usuario of usuarios; track usuario.id) {
                <tr>
                    <th scope="row">{{usuario.id}}</th>
                    <td>{{usuario.nombreCompleto}}</td>
                    <td>{{usuario.nombreUsuario}}</td>
                    <td>{{usuario.correo}}</td>
                    <td>{{usuario.celular}}</td>
                    <td>{{usuario.direccion}}</td>
                    <td>{{usuario.estado}}</td>
                    <td>
                        <a class="btn btn-primary me-md-2" routerLink="/usuarios/form/{{usuario.id}}">Editar</a>
                        <button type="button" class="btn btn-danger" (click)="eliminarUsuario(usuario.id)">Eliminar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<ng-template #elseBlock>
    <div class="col-lg-4">
        <div class="alert alert-warning" role="alert">
            No se encontraron usuarios
        </div>
    </div>
</ng-template>
