<div class="row g-0 justify-content-center">
    <div class="card col-lg-6">
        <div class="card-header">
            <h3>Crear usuario</h3>
        </div>
        <div class="card-body">
            <form [formGroup]="formUser" (ngSubmit)="edit ? updateUsuario() : createUsuario()"
                class="form-horizontal mt-2 needs-validation" novalidate>
                <div class="form-group my-2">
                    <label class="form-label">Nombre completo</label>
                    <input type="text" class="form-control"
                        [class.is-invalid]="!formUser.controls['nombreCompleto'].valid"
                        formControlName="nombreCompleto" />
                    <div class="invalid-feedback">
                        Por favor ingrese el nombre completo
                    </div>
                </div>

                <div class="form-group my-2">
                    <label class="form-label">Login</label>
                    <input type="text" class="form-control"
                        [class.is-invalid]="!formUser.controls['nombreUsuario'].valid"
                        formControlName="nombreUsuario" />
                    <div class="invalid-feedback">
                        Por favor ingrese el nombre de usuario
                    </div>
                </div>

                <div class="form-group my-2">
                    <label class="form-label">Contraseña</label>
                    <input type="password" class="form-control"
                        [class.is-invalid]="!formUser.controls['clave'].valid" formControlName="clave" />
                    <div class="invalid-feedback">
                        Por favor ingrese la contraseña
                    </div>
                </div>

                <div class="form-group my-2">
                    <label class=" form-label">Correo Electrónico</label>
                    <input type="text" class="form-control"
                        [class.is-invalid]="!formUser.controls['correo'].valid" formControlName="correo" />
                    <div class="invalid-feedback">
                        Por favor ingrese el correo Electrónico
                    </div>
                </div>

                <div class="form-group my-2">
                    <label class="form-label">Teléfono Celular</label>
                    <input type="text" class="form-control"
                        [class.is-invalid]="!formUser.controls['celular'].valid" formControlName="celular" />
                    <div class="invalid-feedback">
                        Por favor ingrese el Teléfono Celular
                    </div>
                </div>

                <div class="form-group my-2">
                    <label class="form-label">Dirección</label>
                    <input type="text" class="form-control"
                        [class.is-invalid]="!formUser.controls['direccion'].valid" formControlName="direccion" />
                    <div class="invalid-feedback">
                        Por favor ingrese la dirección
                    </div>
                </div>

                <div class="form-group my-2">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" formControlName="estado">
                        <label class="form-check-label">Estado</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="my-3">
                        <button type="submit" [disabled]="isSave" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>