<div class="row">
  <h3>Listado de productos</h3>
  @for (producto of productos; track producto.id) {
  <div class="card ms-5 mb-3 text-center" style="width: 15rem;">
    <img src="http://localhost:8080/polos_back/images/{{producto.imagen}}" style="width:200px;height:200px;" class="card-img-top" alt="...">

    <div class="card-body">
      <h6 class="card-title">{{producto.nombre}}</h6>
      <p class="card-text">{{producto.talla}} - $ {{producto.precio}}</p>
      <button type="button" class="btn btn-primary btn-sm me-md-2" (click)="agregarProducto(producto)">
        Agregar
      </button>
      <a class="btn btn-primary btn-sm me-md-2 my-2" routerLink="/productos/form/{{producto.id}}">Editar</a>
      <button type="button" class="btn btn-sm btn-danger" (click)="eliminarProducto(producto.id)">Eliminar</button>
    </div>
  </div>
  } @empty {
  <div class="col-lg-4">
    <div class="alert alert-warning" role="alert">
      No se encontraron productos
    </div>
  </div>
  }
</div>