<div class="row">
  <h3>Listado de productos</h3>
  @for (producto of productos; track producto.id) {
  <div class="card ms-5 mt-5" style="width: 20rem;">
    <img src="http://localhost:8080/polos_back/images/{{producto.imagen}}" width="100%" height="100%" class="card-img-top" alt="...">

    <div class="card-body">
      <h5 class="card-title">{{producto.nombre}}</h5>
      <p class="card-text">{{producto.talla}} - {{producto.precio}}</p>
      <a class="btn btn-primary me-md-2" routerLink="/productos/form/{{producto.id}}">Editar</a>
      <button type="button" class="btn btn-danger" (click)="eliminarProducto(producto.id)">Eliminar</button>
    </div>
  </div>
  } @empty {
  <div class="col-lg-4">
    <div class="alert alert-warning" role="alert">
      No se encontraron productos
    </div>
  </div>
  }
</div>