<h3>Crear producto</h3>
<form class="form-horizontal mt-3">
    <div class="form-group my-3">
        <label class="col-lg-4 form-label">Nombre</label>
        <div class="col-lg-4">
        <input type="text" class="form-control" name="nombre" placeholder="Nombre completo" />
        </div>
    </div>

    <div class="form-group my-3">
        <label class="col-lg-4 form-label">Talla</label>
        <div class="col-lg-4">
        <input type="text" class="form-control" name="apellido" />
        </div>
    </div>

    <div class="form-group my-3">
        <label class="col-lg-4 form-label">Precio</label>
        <div class="col-lg-4">
        <input type="text" class="form-control" name="email" />
        </div>
    </div>

    <div class="form-group my-3">
        <label class="col-lg-4 form-label">Imagen</label>
        <div class="col-lg-4">
        <input type="text" class="form-control" name="telefono_cel" />
        </div>
    </div>

    <div class="form-group">
        <div class="my-3">
        <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </div>
</form>
